@use 'abstracts/colors' as c;
@use 'abstracts/fonts' as f;

@use 'components/inputText';
@use 'components/radioButton';
@use 'components/formButtonSubmit';
@use 'components/loginForm';

@use 'globals/flex';
@use 'globals/margin';
@use 'globals/padding';

body {
    font-family: f.$font-main;
    font-weight: f.$font-weight-regular;
    line-height: 1.4;
    background-color: c.$background;
}





