@use 'abstracts/colors' as c;
@use 'abstracts/fonts' as f;

@use 'components/infoCard';
@use 'components/inputText';
@use 'components/radioButton';
@use 'components/formButtonSubmit';
@use 'components/loginForm';
@use 'components/navbarButton';
@use 'components/navbarContainer';
@use 'components/itemList';
@use 'components/progressCard';

@use 'globals/flex';
@use 'globals/margin';
@use 'globals/padding';
@use 'globals/dimensions';
@use 'globals/grid';

body {
    font-family: f.$font-main;
    font-weight: f.$font-weight-regular;
    line-height: 1.4;
    background-color: c.$background;
    margin: 0;
}

.globalmargins {
    margin: 50px;
    box-sizing: border-box;


    @media (min-width: 768px) {
        margin: 80px;
        box-sizing: border-box;

    }

    @media (min-width: 1024px) {
        margin: 90px;
        box-sizing: border-box;

    }
}
.hidden{
    display: none;
}