@use '../abstracts/colors' as c;

.buildingStepContent{
    box-sizing: border-box;
    background-color: c.$secondary;
    border-radius: 10px;

    pre{
        white-space: pre-wrap;
    }
    textarea{
        white-space: pre-wrap;
        resize: none;
        box-sizing: border-box;
        overflow: hidden;
        border: none;
        border-radius: 10px;
    }
    ul li a{
        color: c.$primary;
        padding-top: 0;
        padding-left: 0;
    }
    ul{
        list-style: none;
    }

    .fileSelectButton{
        background-color: c.$highlight;
        color: c.$primary;
        border: none;
        border-radius: 10px;
    }
}