@use '@/assets/scss/abstracts/colors' as c;

.infoCard{
    &:nth-child(3n + 2) { 
        background-color: c.$secondary; 
        color: c.$black;
    }
    &:nth-child(3n + 3) { 
        background-color: c.$highlight; 
        color: c.$black;
    }
    &:nth-child(3n + 1) { 
        background-color: c.$primary; 
        color: c.$white;
    }
    &:is(a) {
        cursor: pointer;
    }
}