.itemList {
    border-color: deeppink !important;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    background-color: aqua;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
}