@use '@/assets/scss/abstracts/colors' as c;

.navbarContainer {
    width: 100%;
    height: inherit;
    margin: 0;
    background-color: c.$primary;
    padding: 0 20px;
    box-sizing: border-box;



    
    .navbarLogo {
        display: none;
        @media(min-width: 1024px) {
            display: block;
            margin-right: 40%;
        }
    }

}