@use '../abstracts/colors' as c;

.radioButton {
    appearance: none;
    background-color: c.$secondary;
    border: none;
    border-radius: 24px;
    color: c.$primary;
    height: 32px;
    width: 100px;

    &.active {
        background-color: c.$primary;
        color: c.$highlight;
    }
}
