.p {
  &__0 {padding: 0}
  &__1 {padding: 0.25rem}
  &__2 {padding: 0.5rem}
  &__3 {padding: 1rem}
  &__4 {padding: 2rem}
  &__5 {padding: 4rem}
}

.ps {
  &__0 {padding-left: 0}
  &__1 {padding-left: 0.25rem}
  &__2 {padding-left: 0.5rem}
  &__3 {padding-left: 1rem}
  &__4 {padding-left: 2rem}
  &__5 {padding-left: 4rem}
}

.pe {
  &__0 {padding-right: 0}
  &__1 {padding-right: 0.25rem}
  &__2 {padding-right: 0.5rem}
  &__3 {padding-right: 1rem}
  &__4 {padding-right: 2rem}
  &__5 {padding-right: 4rem}
}

.px {
  &__0 {padding-right: 0; padding-left: 0}
  &__1 {padding-right: 0.25rem; padding-left: 0.25rem}
  &__2 {padding-right: 0.5rem; padding-left: 0.5rem}
  &__3 {padding-right: 1rem; padding-left: 1rem}
  &__4 {padding-right: 2rem; padding-left: 2rem}
  &__5 {padding-right: 4rem; padding-left: 4rem}
}

.pt {
  &__0 {padding-top: 0}
  &__1 {padding-top: 0.25rem}
  &__2 {padding-top: 0.5rem}
  &__3 {padding-top: 1rem}
  &__4 {padding-top: 2rem}
  &__5 {padding-top: 4rem}
}

.pb {
  &__0 {padding-bottom: 0}
  &__1 {padding-bottom: 0.25rem}
  &__2 {padding-bottom: 0.5rem}
  &__3 {padding-bottom: 1rem}
  &__4 {padding-bottom: 2rem}
  &__5 {padding-bottom: 4rem}
}

.py {
  &__0 {padding-top: 0; padding-bottom: 0}
  &__1 {padding-top: 0.25rem; padding-bottom: 0.25rem}
  &__2 {padding-top: 0.5rem; padding-bottom: 0.5rem}
  &__3 {padding-top: 1rem; padding-bottom: 1rem}
  &__4 {padding-top: 2rem; padding-bottom: 2rem}
  &__5 {padding-top: 4rem; padding-bottom: 4rem}
}